    <meta charset="{{ bloginfo('charset') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ bloginfo('description') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{wp_title}}</title>
{% include 'default/layouts/partials/head/_facebook.html.twig' %}
{% include 'default/layouts/partials/head/_twitter.html.twig' %}
{{ function('wp_head') }}
